.posts {
  width: 40rem;
  height: 100%;

  border-radius: 4px;
  margin-left: -20rem;
  margin-top: 2rem;
  position: relative;
  z-index: 99;
}

@media screen and (max-width: 600px) {
  .posts {
    margin-left: 0;
    width: 26rem;
    background-color: white;
  }
}
